@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Message

<h1>Отправить сообщение</h1>

<form method="post" asp-action="Create">

    <div class="form-group">
        <label as-for="User">User</label>
        <input as-for="User" class="form-control" name="User" />
    </div>
    <div class="form-group">
        <label as-for="Text">Text</label>
        <input type="email" as-for="Text" class="form-control" name="Text" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>

</form>