@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Create Message</h1>

<form asp-action="Create">
    <div class="form-group">
        <label as-for="Text">Text</label>
        <input as-for="Text" class="form-control" />
    </div>
    <div class="form-group">
    <label as-for="UserId">User</label>
    <input as-for="UserId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>